{% extends 'base.html.twig' %}

{% block header %}

{% endblock %}

{% block body %}
    <div id="login-form-wrapper" class="row" style="padding-top:5rem; width: 50%; height: 75%; margin: auto;">

    </div>
{% endblock %}