{% extends 'base.html.twig' %}

{% block body %}
    <div id="appointments-list-wrapper" style="padding-top:5rem;">
        <h4>History</h4>
        <div id="appointments-table" class="row" ></div>
    </div>
{% endblock %}