{% extends 'base.html.twig' %}

{% block body %}
    <div id="appointments-list-wrapper" style="padding-top:5rem; width: 80%; height: 75%; margin: auto;">
        <h4>All appointments</h4>
        <div id="appointments-table" class="row" ></div>
    </div>
{% endblock %}