{% extends 'base.html.twig' %}

{% block body %}
    <div id="appointments-history-wrapper" style="padding-top:5rem; width: 80%; height: 75%; margin: auto;">
        <h4>History</h4>
        <div id="my-appointments-table" class="row" ></div>
    </div>
{% endblock %}