{% extends 'base.html.twig' %}

{% block body %}
    <div id="appointment-view-container" style="padding-top:5rem; width: 80%; height: 75%; margin: auto;">
        <h4>Viewing appointment</h4>
        <div id="appointment-view" data-appointment-id="{{ appointmentId }}" class="row" ></div>
    </div>
{% endblock %}