{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Content -->
    <div class="row" style="padding-top:1.5rem;">
        <br><br>
        <hr>
        <h2>Appointments history</h2>
        <h5><span class="glyphicon glyphicon-time"></span> Current time, Oct 24, 2021.</h5>
        <p>Browsing your appointments history. Upcoming appointments can be canceled.</p>
        <hr>
    </div>
{% endblock %}