{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Content -->
    <div id="main-dashboard" class="row" style="padding-top:10rem; width: 90%; height: 95%; display: inline-block;">

    </div>
{% endblock %}